[submodule "packages/hardhat/vendor/openzeppelin"]
	path = packages/hardhat/vendor/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts

# use it by importing it like 
# import "../vendor/openzeppelin/contracts/access/Ownable.sol";
